#container {
  text-align: center;
  border: 1px solid red;
}

#window {
  border: 15px solid #FFBFBE;
  display: flex;
  height: 600px;
  width: 800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panel {
  width: 100%;
  height: 100%:
  background-color: red;
  position: relative;
}

#top {
  position: absolute;
  height: 580px;
  width: 380px;
  background-color: rgba(250, 250, 250, 0.3);
  border: 10px solid #FFE6E5;
}

#bottom {
  height: 580px;
  width: 380px;
  background-color: rgba(250, 250, 250, 0.3);
  border: 10px solid #FFE6E5;
}

.btn {
  background-color:red;
  margin: 0 auto;
}
